rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isAdmin() {
      return request.auth != null && (
        request.auth.token.email == "admin@example.com"
      );
    }

    match /projects/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /travels/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /articles/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
